.qus-info{
    background-color:black;
}
.how-works{
    background-color: peru;
    color: black;
    font-size: 16px;
}
.difference{
    background-color: peru;
    color: black;
    font-size: 16px;
}
.head-one{
    background-color: red;
}
.head-two{
    background-color: red;
}